form {
  width: 100wh;
  height: 30vh;
  margin: auto;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
}

div {
  font-size: 20px;
}
